.card {
    /*width: 18rem;*/
    background: white;
}

/*Needed because long course list is problem*/
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.offyear{
    background: black;
    display: none;
}

.registrationyear{
    background: white;
}
.progress{
	background: grey;

}

.coursename{
	font-size:75%
}
/* Overrides list-group-item from Bootstrap */ 
/*.list-group-item {
    padding: 1px 1px
    height: 10px;
}*/

#inout{
	font-size: 10px;
	min-width: 100%;
	white-space: pre;
}

.navbar-brand{
    background-image: url('../img/saas.svg');
    background-repeat: no-repeat;
    color:transparent !important;
}

.btn-sm{
    margin: auto;
  min-width: 100%;
  min-height: 100%;
  vertical-align: middle;
  padding: 7.5px;
}

.form-contro{
    background-color: rgb(248, 248, 248);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(248, 248, 248);
    border-image: initial;
}